.promo__head {
    color: #ffffff;
    transition: transform .25s ease 0s;

    & > span {
        padding-left: 2px;
        font-family: 'RobotoL', sans-serif;
        font-weight: 300;
        font-size: 24px;
        letter-spacing: .1px;
    }

    & > h2 {
        margin-top: 2px;
        margin-bottom: 19px;
        padding-left: .5px;
        font-family: 'RobotoM', sans-serif;
        font-weight: 500;
        font-size: 65px;
        line-height: 1.07;
    }
}