.social-news__title {
    order: 2;
    margin: 29px 0 44px;
    padding: 0 20px;
    font-family: 'RobotoL', sans-serif;
    font-weight: 300;
    font-size: 28px;
    text-align: center;
    color: #ffffff;
}