@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'RobotoL';
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'RobotoM';
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'RobotoBk';
    src: url('../fonts/Roboto-Black.ttf');
}