.main-menu {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 495px;
    padding: 33px 10px 10px 5px;
}

@import './main-menu__list';
@import './main-menu__item';
@import './main-menu__burger';
@import './burger-content/burger-content';