body {
  margin: 0; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'RobotoL';
  src: url("../fonts/Roboto-Light.ttf"); }

@font-face {
  font-family: 'RobotoM';
  src: url("../fonts/Roboto-Medium.ttf"); }

@font-face {
  font-family: 'RobotoBk';
  src: url("../fonts/Roboto-Black.ttf"); }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1570px;
  height: 1000px; }

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: -webkit-transform .25s ease 0s;
  transition: -webkit-transform .25s ease 0s;
  transition: transform .25s ease 0s;
  transition: transform .25s ease 0s, -webkit-transform .25s ease 0s; }
  .button > div {
    position: relative;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    border-radius: 50%; }
    .button > div::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 12px;
      height: 7px;
      width: 7px;
      border-top: 2px solid #ffffff;
      border-right: 2px solid #ffffff;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .button > div::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 9px;
      display: block;
      height: 2px;
      width: 12px;
      background-color: #ffffff; }
  .button > button {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-right: 7px;
    padding-left: 3px;
    font-family: 'RobotoM', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    background: none;
    border: none;
    outline: none; }

.button_txt-size_normal {
  font-size: 15px; }

.button_txt-size_small {
  font-size: 13px; }

.button_size_normal {
  width: 34px;
  height: 33px; }
  .button_size_normal::before {
    top: 12px;
    left: 12px; }
  .button_size_normal::after {
    top: 15px;
    left: 9px; }

.button_size_medium {
  width: 40px;
  height: 41px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); }

.button_color_blue {
  background-color: rgba(28, 83, 148, 0.47); }

.button_color_orange {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5d334), to(#fcc02f));
  background-image: linear-gradient(180deg, #f5d334 0%, #fcc02f 100%);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); }

.button_color_gray {
  background-color: rgba(0, 0, 0, 0.15); }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 112px;
  height: 1000px; }

.header__mainbar {
  height: 90px; }

.header__sidebar {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 112px;
  -webkit-box-shadow: 4px 0 14px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 0 14px rgba(0, 0, 0, 0.2); }

.logo {
  position: relative;
  top: 103px;
  right: 43px;
  width: 198px;
  text-decoration: none;
  color: #4a4a4a;
  background: #ffffff url("../img/logo/logo-icon.png") no-repeat right;
  background-size: 48px 47px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg); }
  .logo > span:first-child {
    display: block;
    margin-top: 5px;
    font-family: 'RobotoBk', sans-serif;
    font-weight: 900;
    font-size: 34px;
    line-height: 1;
    text-transform: uppercase; }
  .logo > span:last-child {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-transform: lowercase; }

.sub-menu {
  margin-top: 156px; }

.sub-menu__head {
  height: 67px;
  padding: 27px 20px 19px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: -0.5px;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  -webkit-transition: height .2s linear 0s, padding .2s linear 0s;
  transition: height .2s linear 0s, padding .2s linear 0s; }
  .sub-menu__head:first-child {
    background-color: #37b1a8; }
  .sub-menu__head:nth-child(3) {
    background-color: #1c5394; }

.sub-menu__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 180px;
  padding: 3px 0 11px; }
  .sub-menu__list::before {
    content: '';
    position: absolute;
    top: -14px;
    right: 49px;
    border: 8px solid transparent; }
  .sub-menu__list:nth-child(2) {
    background-color: #1da197; }
    .sub-menu__list:nth-child(2)::before {
      border-bottom-color: #1da197; }
  .sub-menu__list:nth-child(4) {
    background-color: #18477f; }
    .sub-menu__list:nth-child(4)::before {
      border-bottom-color: #18477f; }

.sub-menu__item {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.4px;
  text-decoration: none;
  color: #ffffff; }

.dev-by {
  height: 115px;
  background: #ffffff url("../img/dev-by/dev-by.png") no-repeat center;
  background-size: 70px 55px;
  text-decoration: none; }

.main-menu {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 495px;
  padding: 33px 10px 10px 5px; }

.main-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.main-menu__item {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-decoration: none;
  color: #ffffff; }

.main-menu__burger {
  width: 28px;
  height: 29px;
  background: transparent url("../img/main-menu/burger.png") no-repeat center/contain;
  cursor: pointer; }

.burger-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: grid;
  grid-template: 130px 150px 150px 120px / 220px 250px;
  grid-row-gap: 50px;
  height: 1000px;
  padding-left: 30px;
  background-color: #d8d5cd;
  -webkit-box-shadow: 4px 0 14px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 0 14px rgba(0, 0, 0, 0.2);
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform .3s linear 0s;
  transition: -webkit-transform .3s linear 0s;
  transition: transform .3s linear 0s;
  transition: transform .3s linear 0s, -webkit-transform .3s linear 0s; }

.burger-content_show {
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

.burger-content__back {
  position: relative;
  grid-column: 1 / 3;
  display: block;
  width: 100px;
  height: 30px;
  margin-top: 36px;
  padding-left: 52px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer; }
  .burger-content__back::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    height: 12px;
    width: 12px;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .burger-content__back::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    height: 2px;
    width: 26px;
    background-color: #ffffff; }

.burger-content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition: opacity .25s linear .25s, -webkit-transform .25s linear .25s;
  transition: opacity .25s linear .25s, -webkit-transform .25s linear .25s;
  transition: transform .25s linear .25s, opacity .25s linear .25s;
  transition: transform .25s linear .25s, opacity .25s linear .25s, -webkit-transform .25s linear .25s;
  -webkit-transform: translateY(35px);
  transform: translateY(35px);
  opacity: 0; }

.burger-content__list_show {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1; }

.burger-content__item {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-decoration: none;
  color: #4a4a4a; }
  .burger-content__item:first-child {
    margin-top: 0; }

.burger-content__social {
  height: 40px;
  width: 180px;
  background-color: #1c5394;
  -webkit-transition: opacity .25s linear .25s, -webkit-transform .25s linear .25s;
  transition: opacity .25s linear .25s, -webkit-transform .25s linear .25s;
  transition: transform .25s linear .25s, opacity .25s linear .25s;
  transition: transform .25s linear .25s, opacity .25s linear .25s, -webkit-transform .25s linear .25s;
  -webkit-transform: translateY(35px);
  transform: translateY(35px);
  opacity: 0; }

.burger-content__social_show {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.promo {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 495px;
  height: 1000px;
  padding: 118px 0 0 28px;
  background: #8cb6cc no-repeat bottom;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(149, 185, 203, 0)), color-stop(20%, #8cb6cc)), url("../img/promo/promo.jpg");
  background-image: linear-gradient(to top, rgba(149, 185, 203, 0) 0%, #8cb6cc 20% #8cb6cc 100%), url("../img/promo/promo.jpg");
  background-position: top, center 101.5%;
  background-size: 495px 412px, 495px 674px;
  -webkit-transition: background-size .25s ease 0s, background-position .25s ease 0s;
  transition: background-size .25s ease 0s, background-position .25s ease 0s; }
  .promo:hover {
    background-position: top, center 106%;
    background-size: 495px 412px, 510px 694px; }
    .promo:hover > .promo__head,
    .promo:hover > .promo__desc,
    .promo:hover > .button {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px); }

.promo__head {
  color: #ffffff;
  -webkit-transition: -webkit-transform .25s ease 0s;
  transition: -webkit-transform .25s ease 0s;
  transition: transform .25s ease 0s;
  transition: transform .25s ease 0s, -webkit-transform .25s ease 0s; }
  .promo__head > span {
    padding-left: 2px;
    font-family: 'RobotoL', sans-serif;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: .1px; }
  .promo__head > h2 {
    margin-top: 2px;
    margin-bottom: 19px;
    padding-left: .5px;
    font-family: 'RobotoM', sans-serif;
    font-weight: 500;
    font-size: 65px;
    line-height: 1.07; }

.promo__desc {
  margin-bottom: 25px;
  padding-left: 2px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: .08px;
  color: #ffffff;
  -webkit-transition: -webkit-transform .25s ease 0s;
  transition: -webkit-transform .25s ease 0s;
  transition: transform .25s ease 0s;
  transition: transform .25s ease 0s, -webkit-transform .25s ease 0s; }
