.button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: transform .25s ease 0s;

    & > div {
        position: relative;
        order: 2;
        border-radius: 50%;
        
        &::before {
            content: "";
            position: absolute;
            top: 12px;
            left: 12px;
            height: 7px;
            width: 7px;
            border-top: 2px solid #ffffff;
            border-right: 2px solid #ffffff;
            transform: rotate(45deg);
        }

        &::after {
            content: "";
            position: absolute;
            top: 15px;
            left: 9px;
            display: block;
            height: 2px;
            width: 12px;
            background-color: #ffffff;
        }
    }

    & > button {
        order: 1;
        margin-right: 7px;
        padding-left: 3px;
        font-family: 'RobotoM', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        color: #ffffff;
        background: none;
        border: none;
        outline: none;
    }
}

@import './button_txt-size_normal';
@import './button_txt-size_small';
@import './button_size_normal';
@import './button_size_medium';
@import './button_size_large';
@import './button_color_blue';
@import './button_color_orange';
@import './button_color_gray';
@import './button_color_white';
