.button_size_medium {
    width: 40px;
    height: 41px;

}

.button > .button_size_medium {
    
    &::before {
        top: 16px;
        left: 17px;
    }

    &::after {
        top: 19px;
        left: 13px;
    }
}