-
    var logoLink = '#';
    var devLink = 'http://nkhstudio.ru/';
    var subMenu = {
        headings: ['Для дома', 'Для бизнеса'],
        items: {
            '0': {
                name: ['Услуги', 'Инструкции', 'Документы', 'Тарифы'],
                link: ['#', '#', '#', '#']
            },
            '1': {
                name: ['Услуги', 'Инструкции', 'Документы', 'Тарифы'],
                link: ['#', '#', '#', '#']
            }
        }
    };
    var mainMenu = {
        addBurger: true,
        items: {
            name: ['О компании', 'Техподдержка', 'Подключиться'],
            link: ['#', '#', '#']
        },
        burgerItems: {
            listOne: {
                name: ['О компании', 'Отзывы', 'Вакансии', 'Контакты'],
                link: ['#', '#', '#', '#']
            },
            listTwo: {
                name: ['Услуги', 'Инструкции', 'Документы', 'Тарифы'],
                link: ['#', '#', '#', '#']
            },
            listThree: {
                name: ['Личный кабинет', 'Подключиться', 'Техподдержка', 'База знаний'],
                link: ['#', '#', '#', '#']
            },
            listFour: {
                name: ['+7 (928) 506-67-00', 'Задать вопрос'],
                link: ['tel:+7-928-506-67-00', '#']
            }
        }
    };
    var promo = {
        head: 'DN-650 за 500 руб/мес',
        subHead: 'Безлимитный интернет',
        desc: 'Скорость входящего/исходящего канала, Кбит/с<br>днем 14000, ночью 20000'
    };
    var buttons = {
        promo: { arrowSize: 'normal', arrowColor: 'blue', name: 'Подключиться', fontSize: 'normal' },
        blog: { arrowSize: 'medium', arrowColor: 'orange' },
        subscribe: { arrowSize: 'normal', arrowColor: 'blue', name: 'Подписаться', fontSize: 'small' },
        sendRequest: { arrowSize: 'normal', arrowColor: 'gray', name: 'Оставить заявку на подключение', fontSize: 'normal' },
        
    };
    var slides = {
        first: {
            blocksType: ['blog', 'social-news', 'loc'],
            blocksContent: {
                '0': {
                    date: '28 января 2016',
                    topic: 'Телевизионные каналы в цифровом качестве на основе технологии IP (IPTV)',
                    imgSrc: '###insert-img-src###',
                    btnType: buttons.blog
                },
                '1': {
                    date: '11 февраля 2016 в 4:34',
                    topic: 'Произошла авария с обрывом линий сетей интернет на пересечении улиц Грозненская и Тотурбиева...',
                    social: 'VK',
                    btnType: buttons.subscribe
                },
                '2': {
                    btnType: buttons.sendRequest
                }
            }
        }
    };
    var userBar = {
        phone: { name: '+7 (928) 506-67-00', link: 'tel:+7-928-506-67-00', icon: 'tel' },
        question: { name: 'Задать вопрос', link: '#', icon: 'msg' },
        account: { name: 'Личный кабинет', link: '#', icon: 'acc' },
        search: { name: 'Поиск', link: '#', icon: 'search' },
    };

include button/button
include header/header
include logo/logo
include sub-menu/sub-menu
include dev-by/dev-by
include main-menu/main-menu
include promo/promo
include content/content
include slider/slider
include user-bar/user-bar
include footer/footer
include copyright/copyright

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title NKH digital studio test task
    body
        +header
            +header__sidebar
                +logo(logoLink)
                +sub-menu(subMenu)
                +dev-by(devLink)
            +header__mainbar
                +main-menu(mainMenu)
        +content
            +promo(promo.head, promo.subHead, promo.desc)
                +button(
                    buttons.promo.arrowSize,
                    buttons.promo.arrowColor,
                    buttons.promo.name,
                    buttons.promo.fontSize
                )
            +slider
                each item in slides
                    +slide(item)
            +user-bar(userBar)