include header/header
include logo/logo
include sub-menu/sub-menu
include dev-by/dev-by
include main-menu/main-menu
include promo/promo
include content/content
include slider/slider
include slide/slide
include footer/footer
include user-bar/user-bar
include copyright/copyright