mixin connect-check__address
    input(class="connect-check__address_street", type="text", placeholder="Название улицы")
    input(class="connect-check__address_house", type="text", placeholder="Дом")