.connect-check__address_house {
    box-sizing: border-box;
    height: 50px;
    width: 80px;
    padding: 0 20px 0 23px;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    color: #8f8f8f;
    border: none;
    outline: none;
}