mixin connect-check__info
    p.connect-check__info.
        Пока ваш дом не подключен к сети DagNet.
        Возможно, мы планируем его подключение в ближайшее время.
        Чтобы узнать о возможности и сроках его подключения, оставьте заявку.